# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [5]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a = [1, 2, 3, 4, 5, 6]
a[3:]

[4, 5, 6]

In [8]:
# create a list of numbers from 1 to 20
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
one_to_hundred = list(range(1, 101))
even_nums = []
for num in one_to_hundred:
    if num % 2 == 0:
        even_nums.append(num)
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [25]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(x, y): 
    divided = x / y
    return divided 
    
print(divide(4, 2))

2.0

In [32]:
# write a function that takes a string as input
# and return that string in all caps
"hello".upper()

'HELLO'

In [33]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
nums = list(range(1, 31))

for num in nums: 
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [2]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmos_pricing = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}

In [61]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

In [81]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.loc[::40, ['calories', 'sugars', 'protein']]

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [59]:
# select all rows with more than and including 400 calories
df[df["calories"] >= 400]

In [58]:
# select all rows whose vitamin c content is higher than the iron 
df[df["vitamin c"] > df["iron"]]

In [66]:
# create a new column containing the caffeine per calories of each drink
df["Caffeine per Calories"] = df["caffeine"] / (df["calories"])

In [48]:
# what is the average calorie across all items?
df["calories"].mean()

193.87190082644628

In [77]:
# how many different categories of beverages are there?
bvgs = df.groupby("beverage")

In [73]:
# what is the average # calories for each beverage category?
bvgs["calories"].mean()

beverage
banana chocolate smoothie                             290.000000
brewed coffee                                           4.250000
caff americano                                         13.750000
caff latte                                            139.166667
caff mocha (without whipped cream)                    210.000000
cappuccino                                             90.000000
caramel                                               150.000000
caramel (without whipped cream)                       268.888889
caramel apple spice (without whipped cream)           247.500000
caramel macchiato                                     184.166667
coffee                                                210.000000
espresso                                                7.500000
hot chocolate (without whipped cream)                 236.666667
iced brewed coffee (with classic syrup)                93.333333
iced brewed coffee (with milk  classic syrup)         122.222222
java chip                                             220.000000
java chip (without whipped cream)                     327.777778
mocha                                                 156.666667
mocha (without whipped cream)                         272.222222
orange mango banana smoothie                          266.666667
shaken iced tazo tea (with classic syrup)              86.666667
shaken iced tazo tea lemonade (with classic syrup)    140.000000
skinny latte (any flavour)                            110.000000
strawberries  crme (without whipped cream)            248.888889
strawberry banana smoothie                            290.000000
tazo chai tea latte                                   196.666667
tazo fullleaf red tea latte (vanilla rooibos)         148.333333
tazo fullleaf tea latte                               148.333333
tazo green tea latte                                  275.000000
tazo tea                                                0.000000
vanilla bean (without whipped cream)                  197.500000
vanilla latte (or other flavoured latte)              195.833333
white chocolate mocha (without whipped cream)         330.000000
Name: calories, dtype: float64